.progress {
    position: absolute !important;
    margin: 0 !important;
    top: 0 !important;
    display: none !important;
}

.isLoading {
    display: block !important;
}

.modal {
    width: 80% !important;
    max-height: 90% !important;
}


.mt-1{
    margin-top: 1em;
}